<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>TinyHttpbin</title>
</head>
<h2>tinyhttpbin: HTTP Request & Response Service</h2>
<body>
<li><a href="{{ url_for('view_user_agent') }}" data-bare-link="true"><code>/user-agent</code></a> Returns user-agent.</li>
<li><a href="{{ url_for('view_headers') }}" data-bare-link="true"><code>/headers</code></a> Returns header dict.</li>
<li><a href="{{ url_for('view_get') }}" data-bare-link="true"><code>/get</code></a> Returns GET data</li>
<li><a href="{{ url_for('set_cookie', name='yzq', value='123') }}"><code>/cookie/set?name=value</code></a> Sets a simple cookie.</li>
<li><a href="{{ url_for('set_cookies') }}"><code>/cookies/set</code></a> Sets one or more cookies.</li>
<li><a href="{{ url_for('response_headers',  **{'Content-Type': 'text/plain; charset=UTF-8', 'Server': 'httpbin'}) }}"  data-bare-link="true"><code>/response-headers</code></a> Return a set of response headers from the query string.</li>
<li><a href="{{ url_for('redirect_to', url='http://www.sina.com') }}"><code>/redirect-to</code></a>  302 Redirects to the URL.</li>

</body>
</html>